<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Our Cafe Application</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="addclerk.css">
</head>

<body>
    <section class="MainHeader">
        <a class="Backtohome" href=""> Back </a>
        <!-- <%= link_to "#####", *******%> </p> -->
        <h1 class="CafeTitle"> Cafe Day </h1>
        <a class="LogOut-link" href="">LogOut
        </a>
        <!-- <%= link_to "#####", *******%> </p> -->
    </section>



    <p class="AddClerk-header"> Add a Billing Clerk</p>
    <!-- <%= form_with(url: "*****", method: "post", class: "Add-menu") do %> -->
    <section class="AddClerk">
        <input type="text" placeholder="Username" class="AddUser" />
        <!-- <%= text_field_tag "*****", nil, class: "AddUser", placeholder: "Username" %> -->

        <input type="text" placeholder=" Password" class="AddUser" />
        <!-- <%= form.password_field :password, class: "AddUser" %> -->

        <input class="AddUser-submit" type="submit" value=" Add a new">
        <!-- <%= submit_tag "Add", class: "AddMenu-submit" %> -->
        <!-- <% end %> -->
    </section>

    <section class="AddClerk-header">Billing clerks :</section>

</body>

</html>