body {
    max-width: 1000px;
    margin: 0 auto;
}

.CafeTitle {
    color: darkgreen;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 60px;
   
}

.SearchImage { 
    display: block;
    max-width: 30px;
    max-height: 30px;
    
    
    
}

.SearchImage:hover {
     box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.AddMenu-title {
    margin-top: 20px;
    font-size: 30px;
    padding-left: 10px;
}
.Add-menu {
    display: inline-flex;
    /* margin-left: 700px; */
    margin-top: 25px;
    margin-left: 50px;
    

}

.AddMenu {
    margin-right: 15px;
    height: 20px;
}

.AddMenu-submit {
    background-color: #4CAF50;
    color: #FFFFFF;
    font-size: 17px;
    border-radius: 4px;
    border:  1px solid transparent;
    display: grid;
    align-items: center;
}


.MainHeader {
    display: flex;
    background: lightcyan;
}

.LogOut-link {
    color: darkgreen;
    margin-top: 25px;
    margin-left: 355px;
    margin-right: 10px;
    max-width: 70px;
    max-height: 30px;
    font-family: serif;
    font-size: 16px;

    
}

.CartImage {
    max-width: 80px;
    max-height: 55px;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 1px;
    opacity: 75%;
    
}

.CartImage:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


.MenuTitle {
    font-size: 35px;
    padding-top: 25px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.CafeMenu-edit {
    display: flex;
}

table, th, td {
  border: 0px solid rgb(100, 96, 96);
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  padding-bottom: 10px;
  text-align: center;
}

th {
    font-size: 27px;
    padding-bottom: 10px;
}

tb {
    font-size: 20px;
}
.Menu-edit {
    max-width: 40px;
    
}


.MenuItems {
     font-size: 20px;
     color: rgb(51, 45, 45);

 }

.MenuItems:hover  .EditItem{
    display:inline;
    opacity: 85%;
}

.MenuItems:hover  .DeleteItem{
    display:inline;
    opacity: 85%;
}


.MenuDropdown {
  width: 50px;
  font-size: 20px;
  /* margin-left: 30px; */
  

}

.MenuTotal {
    display: grid;
    justify-content: end;
    margin-right: 80px;
    font-size: 30px;
    margin-left: 20px;
}


.MenuBase {
    display: flex;
    align-items: center;
    margin-right: 90px;
    margin-left: auto;
    justify-content: flex-end;
    margin-top: 30px;
    
}

.MenuSubmit {
    
    background-color: #4CAF50;
    color: #FFFFFF;
    font-size: 17px;
    border-radius: 4px;
    border:  1px solid transparent;
    padding: 2px;
    max-height: 30px;
}


