<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Our Cafe Application</title>
        <link rel="stylesheet" type="text/css" href="reset.css">
        <link rel="stylesheet" type="text/css" href="login.css">
    </head>

    <body>

        <section class="MainHeader">
            <h1 class="CafeTitle"> Cafe Day </h1>
        </section>

        <section class="User-login">
            <p class="User-welcome"> Welcome !</p>
            <!-- <%= form_with(url: "*****", method: "post", class: "Add-menu") do %> -->

            <p class="AddUser-title"> Username</p>
            <input type="text" placeholder="Username" class="AddUser" />
            <!-- <%= text_field_tag "*****", nil, class: "AddUser", placeholder: "Username" %> -->

            <p class="AddUser-title">Password</p>
            <input type="text" placeholder=" Password" class="AddUser" />
            <!-- <%= form.password_field :password, class: "AddUser" %> -->

            <input class="AddUser-submit" type="submit" value=" Log-In">
            <!-- <%= submit_tag "Add", class: "AddMenu-submit" %> -->
            <!-- <% end %> -->
        </section>

    </body>





</html>